
@meta charset="utf-8";


/*


foi feita essta alteração na linha 6300 do arquivo bootstrap.css para que as imagens possissem tamanho fixo
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    line-height: 1;
    width: 700px;
    height: 410px;                                                             /*  Alteração do tamanho das imagens do slide*/
}


*/


body{

    margin-top: 20px;
    margin-bottom: 20px;
    background-image: url("../img/backgroundImage3.jpg");
    
}
.conteudo-principal{
    box-shadow: 0px 0px 4px #606060;
    background-color: #fff;
    
}

.img-icon {

    margin-right: auto;
margin-left: auto;
}